.dashboard {
  background: #f5f5f5;
}

/* HERO */
.hero {
  height: 420px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://images.unsplash.com/photo-1544620347-c4fd4a3d5957")
      center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
}

.hero-content h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 30px;
}

/* SEARCH BAR */
.search-bar {
  background: white;
  border-radius: 12px;
  display: flex;
  padding: 12px;
  gap: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.search-bar input {
  flex: 1;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.search-bar button {
  background: #d84e55;
  color: white;
  border: none;
  padding: 0 35px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #b93c42;
}

/* POPULAR ROUTES */
.popular {
  padding: 50px 80px;
  background: white;
}

.popular h2 {
  margin-bottom: 20px;
}

.routes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.routes div {
  padding: 18px;
  border-radius: 10px;
  background: #f7f7f7;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.welcome-text {
  color: #ffecec;
  font-size: 18px;
  margin-bottom: 10px;
}


.routes div:hover {
  background: #ffe5e7;
}


.input-group {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  padding: 10px 0;
  z-index: 1000;
}

.dropdown-title {
  font-weight: 600;
  padding: 8px 15px;
  color: gray;
  font-size: 14px;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f3f3;
}
